<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/mainpage.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='img/ico.ico') }}" type="image/x-icon">
    <title>Where is ISS</title>
</head>

<body>
    <h1>Know the ISS</h1>
    <div id="fp">
        <p>The International Space Station is a modular space station (habitable artificial satellite) in low Earth
            orbit.</p>
        <p> It is a multinational collaborative project involving five participating space agencies: NASA (United
            States), Roscosmos (Russia), JAXA (Japan), ESA (Europe), and CSA (Canada).
        </p>
    </div>
    <table>
        <tr>
            <td>
                Mass
            </td>
            <td>
                419,725 kg
            </td>
        </tr>
        <tr>
            <td>
                Length
            </td>
            <td>
                73.0 m (239.4 ft)
            </td>
        </tr>
        <tr>
            <td>
                Width
            </td>
            <td>
                109.0 m (357.5 ft)
            </td>
        </tr>
        <tr>
            <td>Perigee altitude</td>
            <td>418 km (259.7 mi) AMSL</td>
        </tr>
        <tr>
            <td>Apogee altitude</td>
            <td>422 km (262.2 mi) AMSL</td>
        </tr>
        <tr>
            <td>
                Orbital inclination
            </td>
            <td>
                51.64°
            </td>
        </tr>
        <tr>
            <td>
                Orbital speed
            </td>
            <td>
                7.66 km/s
            </td>
        </tr>
        <tr>
            <td>
                Orbital period
            </td>
            <td>
                92.68 minutes
            </td>
        </tr>
        <tr>
            <td>
                Orbits per day
            </td>
            <td>
                15.49
            </td>
        </tr>
    </table>
    <h3>There are <span id="spacepeeps" style="font-weight:bold;"> {{num}} </span> people in ISS right now</h3>
    <center>
        <ol id="astronames"></ol>
    </center>
    <center>
        <button onclick="location.href='/issloc';">Current Location</button>
    </center>
</body>
<script>
    var astro = JSON.parse('{{astro | tojson}}')
    var num = '{{num}}';
    for (i = 0; i < num; i++) {
        var li = document.createElement("li");
        li.innerHTML = astro[i];
        document.getElementById("astronames").appendChild(li);
    }
</script>

</html>